.wrap-options{
    border-bottom: 1px solid #3e4042;
    padding-bottom: 5px;
}



.wrap-option{
    color: white;
}

.wrap-option{
    padding: 10px 10px;
    border-radius: 5px;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    div{
        padding: 0 5px;
        margin-left: 5px;
    }
    &:hover{
        background-color: rgb(73, 82, 82);
    }
}


.avt{
    height: 24px;
    width: 24px;
    border-radius: 50%;
}